.display {
    position: relative;
    font-size: xx-large;
    font-weight: bold;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    white-space: nowrap;
}

.container {
    margin: 4em;
}

.display span {
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.stats {
    margin-top: 4em;
    margin-bottom: 4em;
    background-color: lightgray;
    padding: 0.5em;
    padding-left: 1.5em;
    border: 1px solid black;
}

.correct {
    color: #13ff1356;
}

.wrong {
    color: red;
}

.overlay {
    position: fixed;
    top: 8em;
    left: calc(100% - 12em);
    width: 12em;
    height: 4em;
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 67%);
    z-index: 1000;
}
